* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.logo {
    transition: transform 0.3s ease-in-out;
    position: relative;
  }
  
  .logo-shifted {
    transform: translateX(-200px); /* match sidebar width */
  }
  
  